[submodule "native"]
	path = native
	url = git@github.com:Brennan-Flood/pillable-native.git
[submodule "web"]
	path = web
	url = git@github.com:Brennan-Flood/pillable-web.git
[submodule "db"]
	path = db
	url = git@github.com:Brennan-Flood/pillable-db.git
[submodule "api"]
	path = api
	url = git@github.com:Brennan-Flood/pillable-api.git
